html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151F;
  color: #fff;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 20px;
}

.navbar {
  height: 100px;
  width: 100%;
}

.main-video {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  margin-bottom: 50px;
  position:relative;
}

.main-video img {
  width: 100vw;
}

.video-feed {
  display: flex;
  flex-wrap: wrap;
}

.video-feed a { 
  width: 30%;
  margin-right: 20px;
}

.video-feed img {
  border-radius: 20px;
  width: 100%;
  height: auto;

}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}

.video-overlay {
  position: absolute;
}

.info-footer {
  height: 100vh;
}
